# 3 - Correlation and Pattern Prediction

## prediction with ILIAS-data - dataframe generation

In [1]:
import pandas as pd
import re 
import numpy as np
from dateutil import parser
from datetime import datetime

In [2]:
pd.options.display.max_columns = 50

In [3]:
results = pd.read_csv('events-and-resources.csv', delimiter=";", encoding="utf-8")

In [4]:
tut_results = pd.read_csv('tut-events-and-resources.csv', delimiter=";", encoding="utf-8")

In [5]:
def parsing_with_sec(date_str):
    parsed = datetime.strptime(date_str, "%d.%m.%Y %H:%M:%S")
    return parsed
def parsing_without_sec(date_str):
    parsed = datetime.strptime(date_str, "%d.%m.%Y %H:%M")
    return parsed

In [6]:
results["timestamp"] = results["timestamp"].apply(parsing_without_sec)
results["createDate"] = results["createDate"].apply(parsing_without_sec)

results["time_diff"] = results["timestamp"] - results["createDate"]

In [7]:
tut_results["timestamp"] = tut_results["timestamp"].apply(parsing_without_sec)
tut_results["createDate"] = tut_results["createDate"].apply(parsing_with_sec)

tut_results["time_diff"] = tut_results["timestamp"] - results["createDate"]

In [8]:
exam1 = datetime.strptime("2017-12-12 17:00", "%Y-%m-%d %H:%M")
results["time_to_exam1"] = exam1 - results["timestamp"]
exam2 = datetime.strptime("2018-02-07 15:00", "%Y-%m-%d %H:%M")
results["time_to_exam2"] = exam2 - results["timestamp"]

In [9]:
#exam1 = datetime.strptime("2017-12-12 17:00", "%Y-%m-%d %H:%M")
tut_results["time_to_exam1"] = exam1 - tut_results["timestamp"]
#exam2 = datetime.strptime("2018-02-07 15:00", "%Y-%m-%d %H:%M")
tut_results["time_to_exam2"] = exam2 - tut_results["timestamp"]

In [10]:
results["status"] = np.where(results["student_id"] == 2, 'anonym', 'pseudonym')

In [11]:
tut_results["status"] = np.where(tut_results["student_id"] == 2, 'anonym', 'pseudonym')

In [12]:
results = results.drop(results[results["status"] == "anonym"].index)

In [13]:
tut_results = tut_results.drop(tut_results[tut_results["status"] == "anonym"].index)

In [14]:
len(results.index)

3373

In [15]:
len(tut_results.index)

5995

In [16]:
del results["leapId"]

In [17]:
del results["Unnamed: 0"]

In [18]:
results.head()

,event_id,student_id,resource_id,type_x,timestamp,content,createDate,description,name,numberOfEvents,type_y,uri,time_diff,time_to_exam1,time_to_exam2,status
108,526,407,37,click,2017-09-19 20:40:00,NaN,2017-09-19 17:40:00,NaN,NaN,11460,crs,https://ilias.uni-mannheim.de/goto.php?target=...,03:00:00,83 days 20:20:00,140 days 18:20:00,pseudonym
110,529,407,42,click,2017-09-19 20:40:00,NaN,2017-09-19 17:50:00,In diesem Ordner finden sich die annotierten V...,Vorlesungsfolien,3666,fold,https://ilias.uni-mannheim.de/goto.php?target=...,02:50:00,83 days 20:20:00,140 days 18:20:00,pseudonym
111,531,407,42,click,2017-09-19 20:40:00,NaN,2017-09-19 17:50:00,In diesem Ordner finden sich die annotierten V...,Vorlesungsfolien,3666,fold,https://ilias.uni-mannheim.de/goto.php?target=...,02:50:00,83 days 20:20:00,140 days 18:20:00,pseudonym
113,535,407,42,click,2017-09-19 20:40:00,NaN,2017-09-19 17:50:00,In diesem Ordner finden sich die annotierten V...,Vorlesungsfolien,3666,fold,https://ilias.uni-mannheim.de/goto.php?target=...,02:50:00,83 days 20:20:00,140 days 18:20:00,pseudonym
114,537,407,66,click,2017-09-19 20:40:00,NaN,2017-09-19 18:05:00,NaN,NaN,306,file,https://ilias.uni-mannheim.de/goto.php?target=...,02:35:00,83 days 20:20:00,140 days 18:20:00,pseudonym

In [19]:
del tut_results["leapId"]
del tut_results["Unnamed: 0"]

In [20]:
tut_results.head()

,event_id,student_id,resource_id,type_x,timestamp,content,createDate,description,name,numberOfEvents,type_y,uri,time_diff,time_to_exam1,time_to_exam2,status
106,708,46,43,click,2017-09-19 21:37:00,NaN,2017-09-19 17:50:48,NaN,Praktische Informatik I [T] (HWS 2017),9583,crs,https://ilias.uni-mannheim.de/goto.php?target=...,03:48:00,83 days 19:23:00,140 days 17:23:00,pseudonym
108,710,46,52,click,2017-09-19 21:37:00,NaN,2017-09-19 17:56:49,NaN,Dateien,4334,fold,https://ilias.uni-mannheim.de/goto.php?target=...,03:57:00,83 days 19:23:00,140 days 17:23:00,pseudonym
112,714,46,89,click,2017-09-19 21:37:00,NaN,2017-09-19 19:37:20,NaN,Quizze,117,fold,https://ilias.uni-mannheim.de/goto.php?target=...,02:57:00,83 days 19:23:00,140 days 17:23:00,pseudonym
114,716,46,52,click,2017-09-19 21:37:00,NaN,2017-09-19 17:56:49,NaN,Dateien,4334,fold,https://ilias.uni-mannheim.de/goto.php?target=...,03:32:00,83 days 19:23:00,140 days 17:23:00,pseudonym
115,717,46,67,click,2017-09-19 21:37:00,NaN,2017-09-19 18:07:30,"Mittwoch, B3 (12:00), C014",Johannes Roncossek,642,fold,https://ilias.uni-mannheim.de/goto.php?target=...,03:32:00,83 days 19:23:00,140 days 17:23:00,pseudonym

In [21]:
def weekdaynumber(date):
    return date.weekday()
def part_of_day(date):
    return date.hour
def weeknumber(date):
    return date.isocalendar()[1]

In [22]:
results["weekday"] = results["timestamp"].apply(weekdaynumber) + 1   
results["part_of_day"] = results["timestamp"].apply(part_of_day)
results["weeknumber"] = results["timestamp"].apply(weeknumber)

In [23]:
tut_results["weekday"] = tut_results["timestamp"].apply(weekdaynumber) + 1   
tut_results["part_of_day"] = tut_results["timestamp"].apply(part_of_day)
tut_results["weeknumber"] = tut_results["timestamp"].apply(weeknumber)

In [24]:
temp = results[results["student_id"] == 1].describe()
destilled1 = pd.DataFrame(temp.iloc[[1]])
del destilled1["event_id"]
del destilled1["resource_id"]
destilled1.columns = destilled1.columns + "_mean"
destilled1 = destilled1.reset_index(drop=True)
destilled2 = pd.DataFrame(temp.iloc[[2]])
del destilled2["event_id"]
del destilled2["resource_id"]
del destilled2["student_id"]
destilled2.columns = destilled2.columns + "_sd"
destilled2 = destilled2.reset_index(drop=True)
destilled = destilled1.join(destilled2)
destilled_results2 = destilled
for student in set(results["student_id"]):
    temp = results[results["student_id"] == student].describe()
    destilled1 = pd.DataFrame(temp.iloc[[1]])
    del destilled1["event_id"]
    del destilled1["resource_id"]
    destilled1.columns = destilled1.columns + "_mean"
    destilled1 = destilled1.reset_index(drop=True)
    destilled2 = pd.DataFrame(temp.iloc[[2]])
    del destilled2["event_id"]
    del destilled2["resource_id"]
    del destilled2["student_id"]
    destilled2.columns = destilled2.columns + "_sd"
    destilled2 = destilled2.reset_index(drop=True)
    destilled = destilled1.join(destilled2)
    destilled_results2 = destilled_results2.append(destilled)
destilled_results2 = destilled_results2.reset_index(drop=True)
destilled_results2 = destilled_results2.iloc[1:]

In [25]:
destilled_results2.head()

,student_id_mean,numberOfEvents_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,numberOfEvents_sd,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd
1,396.0,5449.281818,30 days 03:04:16.363636,43 days 10:04:27,100 days 08:04:27,3.509091,14.936364,43.590909,5038.436437,26 days 00:10:57.442562,25 days 00:46:26.932550,25 days 00:46:26.932550,1.675749,5.633846,3.526276
2,269.0,5527.287500,55 days 17:25:21,11 days 23:39:06,68 days 21:39:06,3.162500,17.037500,42.268750,5214.598465,30 days 01:19:39.675348,23 days 00:01:55.654553,23 days 00:01:55.654553,1.755091,3.606227,14.972395
3,140.0,11460.000000,37 days 21:47:00,46 days 01:33:00,102 days 23:33:00,5.000000,15.000000,43.000000,0.000000,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.000000,0.000000,0.000000
4,144.0,4287.720000,16 days 12:20:42.720000,59 days 15:26:50.880000,116 days 13:26:50.880000,4.392000,15.384000,41.144000,4944.921342,16 days 08:23:15.095608,17 days 06:14:54.256380,17 days 06:14:54.256380,1.343419,4.039690,2.490964
5,407.0,4998.785185,34 days 00:59:35.407407,43 days 08:41:35.703703,100 days 06:41:35.703703,3.145679,16.861728,42.098765,5098.945817,29 days 22:20:06.879698,28 days 11:42:33.389996,28 days 11:42:33.389996,1.466123,3.534924,7.925715

In [26]:
temp = tut_results[tut_results["student_id"] == 1].describe()
destilled1 = pd.DataFrame(temp.iloc[[1]])
del destilled1["event_id"]
del destilled1["resource_id"]
destilled1.columns = destilled1.columns + "_mean"
destilled1 = destilled1.reset_index(drop=True)
destilled2 = pd.DataFrame(temp.iloc[[2]])
del destilled2["event_id"]
del destilled2["resource_id"]
del destilled2["student_id"]
destilled2.columns = destilled2.columns + "_sd"
destilled2 = destilled2.reset_index(drop=True)
destilled = destilled1.join(destilled2)
tut_destilled_results2 = destilled
for student2 in set(tut_results["student_id"]):
    temp = tut_results[tut_results["student_id"] == student2].describe()
    destilled1 = pd.DataFrame(temp.iloc[[1]])
    del destilled1["event_id"]
    del destilled1["resource_id"]
    destilled1.columns = destilled1.columns + "_mean"
    destilled1 = destilled1.reset_index(drop=True)
    destilled2 = pd.DataFrame(temp.iloc[[2]])
    del destilled2["event_id"]
    del destilled2["resource_id"]
    del destilled2["student_id"]
    destilled2.columns = destilled2.columns + "_sd"
    destilled2 = destilled2.reset_index(drop=True)
    destilled = destilled1.join(destilled2)
    tut_destilled_results2 = tut_destilled_results2.append(destilled)
tut_destilled_results2 = tut_destilled_results2.reset_index(drop=True)
tut_destilled_results2 = tut_destilled_results2.iloc[1:]

In [27]:
tut_destilled_results2.head()

,student_id_mean,numberOfEvents_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,numberOfEvents_sd,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd
1,396.0,3736.603053,6 days 08:22:04.285714,44 days 07:11:58.320610,101 days 05:11:58.320610,3.310433,16.226463,43.486005,3321.986961,21 days 04:27:07.587170,25 days 02:59:17.073328,25 days 02:59:17.073328,1.774340,4.388890,3.577200
2,269.0,2834.987578,-26 days +16:11:40,27 days 02:10:23.850931,84 days 00:10:23.850931,2.947205,15.086957,39.704969,2970.367848,48 days 07:20:39.116694,22 days 02:30:56.606514,22 days 02:30:56.606514,2.141492,5.045452,14.483310
3,140.0,9583.000000,NaT,46 days 01:33:30,102 days 23:33:30,5.000000,15.000000,43.000000,0.000000,NaT,0 days 00:00:42.426406,0 days 00:00:42.426406,0.000000,0.000000,0.000000
4,144.0,4735.425532,8 days 04:28:55.324675,64 days 23:38:22.340425,121 days 21:38:22.340425,4.414894,14.553191,40.382979,3488.720256,11 days 19:04:40.682358,15 days 00:20:14.065394,15 days 00:20:14.065394,1.828152,3.304012,2.064062
5,283.0,4631.966165,10 days 10:12:15,38 days 16:23:53.458646,95 days 14:23:53.458646,3.518797,16.725564,38.195489,3469.333064,20 days 09:42:09.781149,31 days 21:20:30.943693,31 days 21:20:30.943693,1.929323,4.697236,12.684835

In [28]:
students = pd.read_csv('pi1_lecture_students.csv', delimiter=";", encoding="utf-8")

In [29]:
del students["account"]
del students["country"]
del students["createDate"]
del students["externalId"]
del students["firstname"]
del students["gender"]
del students["language"]
del students["lastname"]
del students["matNumber"]
del students["studentTypeId"]

In [30]:
students = students[students["numberOfEvents"] != 0]

In [31]:
students_tut = pd.read_csv('pi1_tut_students.csv', delimiter=";", encoding="utf-8")

In [32]:
del students_tut["account"]
del students_tut["country"]
del students_tut["createDate"]
del students_tut["externalId"]
del students_tut["firstname"]
del students_tut["gender"]
del students_tut["language"]
del students_tut["lastname"]
del students_tut["matNumber"]
del students_tut["studentTypeId"]

In [33]:
students_tut = students_tut[students_tut["numberOfEvents"] != 0]

In [34]:
lecture = destilled_results2.merge(students, left_on='student_id_mean', right_on='leapId', how='outer')

In [35]:
tut = tut_destilled_results2.merge(students_tut, left_on='student_id_mean', right_on='leapId', how='outer')

In [36]:
del lecture["lastUpdate"]
del lecture["leapId"]

In [37]:
del tut["lastUpdate"]
del tut["leapId"]

In [38]:
lecture.head()

,student_id_mean,numberOfEvents_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,numberOfEvents_sd,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd,hash,numberOfEvents,trackingStatus
0,396.0,5449.281818,30 days 03:04:16.363636,43 days 10:04:27,100 days 08:04:27,3.509091,14.936364,43.590909,5038.436437,26 days 00:10:57.442562,25 days 00:46:26.932550,25 days 00:46:26.932550,1.675749,5.633846,3.526276,D95030B83E6EC9FBBFE825DDAE800A92,220,active
1,269.0,5527.287500,55 days 17:25:21,11 days 23:39:06,68 days 21:39:06,3.162500,17.037500,42.268750,5214.598465,30 days 01:19:39.675348,23 days 00:01:55.654553,23 days 00:01:55.654553,1.755091,3.606227,14.972395,E8837F349F0E153B0161BE22B46B6AE9,160,active
2,140.0,11460.000000,37 days 21:47:00,46 days 01:33:00,102 days 23:33:00,5.000000,15.000000,43.000000,0.000000,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.000000,0.000000,0.000000,86EC0DF3BD73A9838891694C81EBD030,2,anonym
3,144.0,4287.720000,16 days 12:20:42.720000,59 days 15:26:50.880000,116 days 13:26:50.880000,4.392000,15.384000,41.144000,4944.921342,16 days 08:23:15.095608,17 days 06:14:54.256380,17 days 06:14:54.256380,1.343419,4.039690,2.490964,4381E682F153AD24CC5D457CCFAFA846,125,anonym
4,407.0,4998.785185,34 days 00:59:35.407407,43 days 08:41:35.703703,100 days 06:41:35.703703,3.145679,16.861728,42.098765,5098.945817,29 days 22:20:06.879698,28 days 11:42:33.389996,28 days 11:42:33.389996,1.466123,3.534924,7.925715,6B1E931B74E580142AD4D05AF8DA8C30,405,active

In [39]:
tut.head()

,student_id_mean,numberOfEvents_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,numberOfEvents_sd,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd,hash,numberOfEvents,trackingStatus
0,396.0,3736.603053,6 days 08:22:04.285714,44 days 07:11:58.320610,101 days 05:11:58.320610,3.310433,16.226463,43.486005,3321.986961,21 days 04:27:07.587170,25 days 02:59:17.073328,25 days 02:59:17.073328,1.774340,4.388890,3.577200,D95030B83E6EC9FBBFE825DDAE800A92,393,active
1,269.0,2834.987578,-26 days +16:11:40,27 days 02:10:23.850931,84 days 00:10:23.850931,2.947205,15.086957,39.704969,2970.367848,48 days 07:20:39.116694,22 days 02:30:56.606514,22 days 02:30:56.606514,2.141492,5.045452,14.483310,E8837F349F0E153B0161BE22B46B6AE9,322,active
2,140.0,9583.000000,NaT,46 days 01:33:30,102 days 23:33:30,5.000000,15.000000,43.000000,0.000000,NaT,0 days 00:00:42.426406,0 days 00:00:42.426406,0.000000,0.000000,0.000000,86EC0DF3BD73A9838891694C81EBD030,2,anonym
3,144.0,4735.425532,8 days 04:28:55.324675,64 days 23:38:22.340425,121 days 21:38:22.340425,4.414894,14.553191,40.382979,3488.720256,11 days 19:04:40.682358,15 days 00:20:14.065394,15 days 00:20:14.065394,1.828152,3.304012,2.064062,4381E682F153AD24CC5D457CCFAFA846,94,anonym
4,283.0,4631.966165,10 days 10:12:15,38 days 16:23:53.458646,95 days 14:23:53.458646,3.518797,16.725564,38.195489,3469.333064,20 days 09:42:09.781149,31 days 21:20:30.943693,31 days 21:20:30.943693,1.929323,4.697236,12.684835,15438BE94BA36B1F8AC25D57E6B88287,242,active

In [40]:
course = pd.read_csv('task-and-exam-marks-in-groups.csv', delimiter=";", encoding="utf-8")
del course["Unnamed: 0"]

In [41]:
course.head()

,tutor,team_id,b1,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,hash2,a1,a2,a3,a4,a5,a6,a7,punkte,note,student_id,pass,subject,semester,faculty,degree
0,tutor2,1.0,10.00,6.5,11.5,13.0,8.5,8.0,10.5,12.5,7.0,13.0,0.0,0afdc45f7ee8e52ebf1afb2970e37b36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,inf,1.0,tec,ba
1,tutor2,1.0,10.00,6.5,11.5,13.0,8.5,8.0,10.5,12.5,7.0,13.0,0.0,d821cd2c7b995d4e3a75c64d25e53529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,inf,1.0,tec,ba
2,tutor1,1146.0,13.75,13.5,14.5,13.5,11.0,11.5,13.5,15.0,14.5,4.0,0.0,fa873577b8543ed8a6d7d8d7fe6ca546,7.0,7.0,8.5,8.0,6.0,7.0,8.5,52.0,3.3,2.0,1.0,inf,1.0,tec,ba
3,tutor3,19.0,13.00,6.5,7.5,9.0,3.5,4.5,5.5,0.0,0.0,0.0,0.0,e7c181a90d7161b4f885a69f6d426474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,inf,1.0,tec,ba
4,tutor5,5012.0,14.00,11.5,12.5,14.5,8.0,7.0,13.5,6.5,8.5,14.0,0.0,e2be9ece8b482afb4717e4e13907a525,4.0,7.0,7.0,8.5,6.5,1.5,4.0,38.5,5.0,4.0,0.0,inf,3.0,tec,ba

In [42]:
lecture["hash"] = lecture["hash"].str.lower()
lecture_tog = lecture.merge(course, left_on='hash', right_on='hash2', how='left')

In [43]:
tut["hash"] = tut["hash"].str.lower()
tut_tog = tut.merge(course, left_on='hash', right_on='hash2', how='left')

In [44]:
lecture_tog = lecture_tog[lecture_tog["punkte"] > 0]

In [45]:
lecture_tog.head()

,student_id_mean,numberOfEvents_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,numberOfEvents_sd,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd,hash,numberOfEvents,trackingStatus,tutor,team_id,b1,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,hash2,a1,a2,a3,a4,a5,a6,a7,punkte,note,student_id,pass,subject,semester,faculty,degree
0,396.0,5449.281818,30 days 03:04:16.363636,43 days 10:04:27,100 days 08:04:27,3.509091,14.936364,43.590909,5038.436437,26 days 00:10:57.442562,25 days 00:46:26.932550,25 days 00:46:26.932550,1.675749,5.633846,3.526276,d95030b83e6ec9fbbfe825ddae800a92,220,active,tutor3,24.0,14.0,9.0,12.5,11.5,7.5,13.5,12.0,7.5,6.5,0.0,0.0,d95030b83e6ec9fbbfe825ddae800a92,3.0,2.0,7.0,10.0,6.5,6.0,13.5,48.0,3.7,178.0,1.0,inf,1.0,tec,ba
3,144.0,4287.720000,16 days 12:20:42.720000,59 days 15:26:50.880000,116 days 13:26:50.880000,4.392000,15.384000,41.144000,4944.921342,16 days 08:23:15.095608,17 days 06:14:54.256380,17 days 06:14:54.256380,1.343419,4.039690,2.490964,4381e682f153ad24cc5d457ccfafa846,125,anonym,tutor6,45.0,13.5,12.5,10.0,12.0,9.5,13.0,13.5,15.0,11.5,5.0,0.0,4381e682f153ad24cc5d457ccfafa846,10.0,8.0,5.0,6.0,4.0,8.0,2.0,43.0,4.0,76.0,1.0,wip,5.0,eco,ba
6,288.0,5448.600000,36 days 20:24:09.176470,35 days 23:36:47.294117,92 days 21:36:47.294117,3.694118,15.411765,44.623529,5165.651137,30 days 10:25:08.691510,27 days 20:40:03.341866,27 days 20:40:03.341866,1.573770,3.303296,3.961050,f2d4d524a05b0c5007bfa84502ba6304,85,active,tutor4,92.0,15.0,14.0,13.5,14.0,0.0,13.0,15.0,14.5,14.0,14.0,0.0,f2d4d524a05b0c5007bfa84502ba6304,5.0,8.5,7.5,5.0,3.0,5.0,11.0,45.0,4.0,146.0,1.0,inf,1.0,tec,ba
7,289.0,4730.210526,29 days 05:07:34.736842,28 days 06:13:08.421052,85 days 04:13:08.421052,2.982456,16.263158,37.614035,5126.186503,31 days 05:50:28.104478,33 days 12:59:22.850281,33 days 12:59:22.850281,1.481930,3.362218,16.405307,77b22a70f68d52c23703f071b4de5d4f,57,active,tutor5,5013.0,15.0,13.0,15.0,14.0,13.0,15.0,14.5,14.0,14.5,15.0,0.0,77b22a70f68d52c23703f071b4de5d4f,6.0,11.0,9.0,12.0,9.0,8.0,12.0,67.0,1.7,234.0,1.0,inf,1.0,tec,ba
8,40.0,5072.266667,19 days 13:50:32,59 days 02:44:16.800000,116 days 00:44:16.800000,2.760000,15.413333,41.453333,5049.230475,17 days 13:00:38.606278,18 days 17:53:13.642955,18 days 17:53:13.642955,0.956344,6.371587,2.574791,b6ed12d0398e952ba99487f4f8a40abd,75,anonym,tutor6,36.0,14.5,12.0,13.0,14.0,13.0,10.5,14.5,14.0,13.0,14.0,7.5,b6ed12d0398e952ba99487f4f8a40abd,8.0,9.0,7.5,12.0,11.0,2.0,5.5,55.0,3.0,173.0,1.0,wip,5.0,eco,ba

In [46]:
lecture_tog.to_csv('destilled_pseudo_lecture.csv', sep=";", encoding="utf-8")

In [47]:
tut_tog = tut_tog[tut_tog["punkte"] > 0]

In [48]:
tut_tog.head()

,student_id_mean,numberOfEvents_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,numberOfEvents_sd,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd,hash,numberOfEvents,trackingStatus,tutor,team_id,b1,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,hash2,a1,a2,a3,a4,a5,a6,a7,punkte,note,student_id,pass,subject,semester,faculty,degree
0,396.0,3736.603053,6 days 08:22:04.285714,44 days 07:11:58.320610,101 days 05:11:58.320610,3.310433,16.226463,43.486005,3321.986961,21 days 04:27:07.587170,25 days 02:59:17.073328,25 days 02:59:17.073328,1.774340,4.388890,3.577200,d95030b83e6ec9fbbfe825ddae800a92,393,active,tutor3,24.0,14.0,9.0,12.5,11.5,7.5,13.5,12.0,7.5,6.5,0.0,0.0,d95030b83e6ec9fbbfe825ddae800a92,3.0,2.0,7.0,10.0,6.5,6.0,13.5,48.0,3.7,178.0,1.0,inf,1.0,tec,ba
3,144.0,4735.425532,8 days 04:28:55.324675,64 days 23:38:22.340425,121 days 21:38:22.340425,4.414894,14.553191,40.382979,3488.720256,11 days 19:04:40.682358,15 days 00:20:14.065394,15 days 00:20:14.065394,1.828152,3.304012,2.064062,4381e682f153ad24cc5d457ccfafa846,94,anonym,tutor6,45.0,13.5,12.5,10.0,12.0,9.5,13.0,13.5,15.0,11.5,5.0,0.0,4381e682f153ad24cc5d457ccfafa846,10.0,8.0,5.0,6.0,4.0,8.0,2.0,43.0,4.0,76.0,1.0,wip,5.0,eco,ba
5,288.0,3677.662500,5 days 15:01:36.302521,58 days 17:48:24.750000,115 days 15:48:24.750000,3.012500,15.650000,41.468750,3304.502461,20 days 06:06:18.454189,18 days 11:14:28.785711,18 days 11:14:28.785711,1.570112,3.963989,2.658609,f2d4d524a05b0c5007bfa84502ba6304,160,active,tutor4,92.0,15.0,14.0,13.5,14.0,0.0,13.0,15.0,14.5,14.0,14.0,0.0,f2d4d524a05b0c5007bfa84502ba6304,5.0,8.5,7.5,5.0,3.0,5.0,11.0,45.0,4.0,146.0,1.0,inf,1.0,tec,ba
6,289.0,3831.829268,1 days 05:21:33.287671,58 days 21:51:50.048780,115 days 19:51:50.048780,4.175610,14.058537,41.287805,3481.501240,18 days 19:22:20.904225,20 days 14:15:24.920949,20 days 14:15:24.920949,2.604369,6.069571,3.085402,77b22a70f68d52c23703f071b4de5d4f,205,active,tutor5,5013.0,15.0,13.0,15.0,14.0,13.0,15.0,14.5,14.0,14.5,15.0,0.0,77b22a70f68d52c23703f071b4de5d4f,6.0,11.0,9.0,12.0,9.0,8.0,12.0,67.0,1.7,234.0,1.0,inf,1.0,tec,ba
7,40.0,2420.697068,7 days 02:39:48.504672,59 days 06:53:53.941368,116 days 04:53:53.941368,3.371336,13.140065,41.355049,2234.611555,18 days 07:00:19.084547,18 days 05:58:14.076365,18 days 05:58:14.076365,1.994820,7.344238,2.518104,b6ed12d0398e952ba99487f4f8a40abd,307,anonym,tutor6,36.0,14.5,12.0,13.0,14.0,13.0,10.5,14.5,14.0,13.0,14.0,7.5,b6ed12d0398e952ba99487f4f8a40abd,8.0,9.0,7.5,12.0,11.0,2.0,5.5,55.0,3.0,173.0,1.0,wip,5.0,eco,ba

In [49]:
tut_tog.to_csv('destilled_pseudo_tut.csv', sep=";", encoding="utf-8")

In [50]:
lecture = lecture_tog.copy()
tutorium = tut_tog.copy()

In [51]:
del lecture["numberOfEvents_mean"]
del lecture["numberOfEvents_sd"]
del lecture["hash"]
del lecture["trackingStatus"]
del lecture["team_id"]
del lecture["b1"]
del lecture["b2"]
del lecture["b3"]
del lecture["b4"]
del lecture["b5"]
del lecture["b6"]
del lecture["b7"]
del lecture["b8"]
del lecture["b9"]
del lecture["b10"]
del lecture["b11"]
del lecture["hash2"]
del lecture["a1"]
del lecture["a2"]
del lecture["a3"]
del lecture["a4"]
del lecture["a5"]
del lecture["a6"]
del lecture["a7"]
del lecture["punkte"]
del lecture["note"]
del lecture["student_id"]

In [52]:
del lecture["tutor"]
del lecture["subject"]
del lecture["semester"]
del lecture["faculty"]
del lecture["degree"]

In [53]:
def to_seconds(delta):
    return delta.total_seconds()

In [54]:
lecture["time_diff_mean"] = lecture["time_diff_mean"].apply(to_seconds)
lecture["time_to_exam1_mean"] = lecture["time_to_exam1_mean"].apply(to_seconds)
lecture["time_to_exam2_mean"] = lecture["time_to_exam2_mean"].apply(to_seconds)
lecture["time_diff_sd"] = lecture["time_diff_sd"].apply(to_seconds)
lecture["time_to_exam1_sd"] = lecture["time_to_exam1_sd"].apply(to_seconds)
lecture["time_to_exam2_sd"] = lecture["time_to_exam2_sd"].apply(to_seconds)

In [55]:
lecture.head()

,student_id_mean,time_diff_mean,time_to_exam1_mean,time_to_exam2_mean,weekday_mean,part_of_day_mean,weeknumber_mean,time_diff_sd,time_to_exam1_sd,time_to_exam2_sd,weekday_sd,part_of_day_sd,weeknumber_sd,numberOfEvents,pass
0,396.0,2.603056e+06,3.751467e+06,8.669067e+06,3.509091,14.936364,43.590909,2.247057e+06,2.162787e+06,2.162787e+06,1.675749,5.633846,3.526276,220,1.0
3,144.0,1.426843e+06,5.153211e+06,1.007081e+07,4.392000,15.384000,41.144000,1.412595e+06,1.491294e+06,1.491294e+06,1.343419,4.039690,2.490964,125,1.0
6,288.0,3.183849e+06,3.109007e+06,8.026607e+06,3.694118,15.411765,44.623529,2.629509e+06,2.407203e+06,2.407203e+06,1.573770,3.303296,3.961050,85,1.0
7,289.0,2.524055e+06,2.441588e+06,7.359188e+06,2.982456,16.263158,37.614035,2.699428e+06,2.897963e+06,2.897963e+06,1.481930,3.362218,16.405307,57,1.0
8,40.0,1.691432e+06,5.107457e+06,1.002506e+07,2.760000,15.413333,41.453333,1.515639e+06,1.619594e+06,1.619594e+06,0.956344,6.371587,2.574791,75,1.0

In [56]:
del tutorium["numberOfEvents_mean"]
del tutorium["numberOfEvents_sd"]
del tutorium["hash"]
del tutorium["trackingStatus"]
del tutorium["team_id"]
del tutorium["b1"]
del tutorium["b2"]
del tutorium["b3"]
del tutorium["b4"]
del tutorium["b5"]
del tutorium["b6"]
del tutorium["b7"]
del tutorium["b8"]
del tutorium["b9"]
del tutorium["b10"]
del tutorium["b11"]
del tutorium["hash2"]
del tutorium["a1"]
del tutorium["a2"]
del tutorium["a3"]
del tutorium["a4"]
del tutorium["a5"]
del tutorium["a6"]
del tutorium["a7"]
del tutorium["punkte"]
del tutorium["note"]
del tutorium["student_id"]

In [57]:
del tutorium["tutor"]
del tutorium["subject"]
del tutorium["semester"]
del tutorium["faculty"]
del tutorium["degree"]

In [58]:
tutorium["time_diff_mean"] = tutorium["time_diff_mean"].apply(to_seconds)
tutorium["time_to_exam1_mean"] = tutorium["time_to_exam1_mean"].apply(to_seconds)
tutorium["time_to_exam2_mean"] = tutorium["time_to_exam2_mean"].apply(to_seconds)
tutorium["time_diff_sd"] = tutorium["time_diff_sd"].apply(to_seconds)
tutorium["time_to_exam1_sd"] = tutorium["time_to_exam1_sd"].apply(to_seconds)
tutorium["time_to_exam2_sd"] = tutorium["time_to_exam2_sd"].apply(to_seconds)

## preparation of evaluation

In [59]:
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

def confusion_matrix_report(y_true, y_pred):
	cm, labels = confusion_matrix(y_true, y_pred), unique_labels(y_true, y_pred)
	column_width = max([len(str(x)) for x in labels] + [5])
	report = " " * column_width + " " + "{:_^{}}".format("Prediction", column_width * len(labels))+ "\n"
	report += " " * column_width + " ".join(["{:>{}}".format(label, column_width) for label in labels]) + "\n"
	for i, label1 in enumerate(labels):
		report += "{:>{}}".format(label1, column_width) + " ".join(["{:{}d}".format(cm[i, j], column_width) for j in range(len(labels))]) + "\n"
	return report

In [60]:
def evaluate(model, X_test, y_test):
    prediction = model.predict(X_test)
    y_pred = X_test.assign(prediction = prediction)
    y_pred = y_pred.assign(true = y_test)
    print(confusion_matrix_report(y_pred["true"], y_pred["prediction"]))
    print(accuracy_score(y_pred["true"], y_pred["prediction"]))
    print(classification_report(y_pred["true"], y_pred["prediction"]))

In [61]:
from sklearn.model_selection import train_test_split
j = [0, 1, 2, 3, 4, 5]
lecture_bal = lecture
tutorium_bal = tutorium

In [62]:
# attempt to oversample: did not work well!

#for i in j:
#    lecture_bal = lecture_bal.append(lecture[lecture["pass"] == 0])
#    tutorium_bal = tutorium_bal.append(tutorium[tutorium["pass"] == 0])
#    i = i + 1

In [63]:
lecture_bal["pass"].describe()

count    17.000000
mean      0.882353
std       0.332106
min       0.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: pass, dtype: float64

In [64]:
X_train_lec, X_test_lec, y_train_lec, y_test_lec = train_test_split(lecture_bal.loc[:, lecture_bal.columns != "pass"], 
                                                                    lecture_bal["pass"], test_size=0.3, random_state=40)
X_train_tut, X_test_tut, y_train_tut, y_test_tut = train_test_split(tutorium_bal.loc[:, tutorium_bal.columns != "pass"], 
                                                                    tutorium_bal["pass"], test_size=0.3, random_state=41)
print(X_train_tut.shape, y_train_tut.shape)
#print(y_train_lec)
#print(y_test_lec)
#print(y_train_tut)
#print(y_test_tut)

(11, 14) (11,)

In [65]:
X_train_tut = X_train_tut.replace(np.nan, "0")

## Naive Bayes

In [66]:
from sklearn.naive_bayes import GaussianNB
naive_bayes = GaussianNB()
naive_bayes.fit(X_train_lec, y_train_lec)
evaluate(naive_bayes, X_test_lec, y_test_lec)

      Prediction
       0.0   1.0
  0.0    0     1
  1.0    0     5

0.833333333333
             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00         1
        1.0       0.83      1.00      0.91         5

avg / total       0.69      0.83      0.76         6

C:\Users\laris\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [67]:
naive_bayes = GaussianNB()
naive_bayes.fit(X_train_tut, y_train_tut)
evaluate(naive_bayes, X_test_tut, y_test_tut)

      Prediction
       0.0   1.0
  0.0    0     1
  1.0    0     4

0.8
             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00         1
        1.0       0.80      1.00      0.89         4

avg / total       0.64      0.80      0.71         5

C:\Users\laris\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## Logistic Regression

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
model = LogisticRegression()
model = model.fit(X_train_lec, y_train_lec)
#model.score(X_test_lec, y_test_lec)
evaluate(model, X_test_lec, y_test_lec)

      Prediction
       0.0   1.0
  0.0    0     1
  1.0    1     4

0.666666666667
             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00         1
        1.0       0.80      0.80      0.80         5

avg / total       0.67      0.67      0.67         6

In [70]:
pd.DataFrame(list(zip(lecture.columns, np.transpose(model.coef_))))

                     0                     1
0      student_id_mean    [1.0908075374e-07]
1       time_diff_mean  [-2.11511241818e-05]
2   time_to_exam1_mean  [-9.59304901557e-05]
3   time_to_exam2_mean   [5.70481762752e-05]
4         weekday_mean  [-2.91738592687e-12]
5     part_of_day_mean   [3.86476033784e-10]
6      weeknumber_mean   [1.72132519869e-09]
7         time_diff_sd  [-3.66970652432e-05]
8     time_to_exam1_sd   [3.18265100144e-06]
9     time_to_exam2_sd   [3.18265100144e-06]
10          weekday_sd  [-7.45389392628e-10]
11      part_of_day_sd   [-2.8000722306e-09]
12       weeknumber_sd   [1.05647289454e-11]
13      numberOfEvents  [-7.13106076363e-08]

In [71]:
model = LogisticRegression()
model = model.fit(X_train_tut, y_train_tut)
#model.score(X_test_tut, y_test_tut) 
evaluate(model, X_test_tut, y_test_tut)

      Prediction
       0.0   1.0
  0.0    0     1
  1.0    0     4

0.8
             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00         1
        1.0       0.80      1.00      0.89         4

avg / total       0.64      0.80      0.71         5

C:\Users\laris\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [72]:
pd.DataFrame(list(zip(tutorium.columns, np.transpose(model.coef_))))

                     0                     1
0      student_id_mean   [3.66599544356e-10]
1       time_diff_mean  [-8.10970297072e-07]
2   time_to_exam1_mean  [-1.66640378606e-06]
3   time_to_exam2_mean   [9.82965663168e-07]
4         weekday_mean   [8.57792238804e-12]
5     part_of_day_mean  [-1.16861188834e-10]
6      weeknumber_mean   [2.93539536888e-11]
7         time_diff_sd   [3.91013154526e-07]
8     time_to_exam1_sd   [9.93446191485e-08]
9     time_to_exam2_sd   [9.93446191485e-08]
10          weekday_sd  [-8.87766809152e-12]
11      part_of_day_sd    [4.5349620627e-12]
12       weeknumber_sd  [-3.68816810955e-12]
13      numberOfEvents   [2.06608464393e-09]

## Decision Tree

In [73]:
from sklearn import tree
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [74]:
# for depth in [1,2,3,4,5,6,7,8,9]:    
# 	decision_tree = tree.DecisionTreeClassifier(max_depth=depth)
# 	cross_val = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
# 	acc_each_split = cross_val_score(decision_tree, X_train_lec, y_train_lec, cv=cross_val, scoring='accuracy')
# 	decision_tree.fit(X_train_lec, y_train_lec)
# 	print("tree with depth= {} and {} nodes has accuracy {}".format(depth, decision_tree.tree_.node_count,acc_each_split.mean()))

In [75]:
decision_tree = tree.DecisionTreeClassifier(max_depth=7)
decision_tree.fit(X_train_lec, y_train_lec)
evaluate(decision_tree, X_test_lec, y_test_lec)

      Prediction
       0.0   1.0
  0.0    0     1
  1.0    0     5

0.833333333333
             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00         1
        1.0       0.83      1.00      0.91         5

avg / total       0.69      0.83      0.76         6

C:\Users\laris\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [76]:
importance =  decision_tree.feature_importances_
importance = pd.DataFrame(importance, index=X_train_lec.columns, 
                          columns=["Importance"])
importance

                    Importance
student_id_mean            0.0
time_diff_mean             0.0
time_to_exam1_mean         0.0
time_to_exam2_mean         0.0
weekday_mean               0.0
part_of_day_mean           0.0
weeknumber_mean            0.0
time_diff_sd               0.0
time_to_exam1_sd           0.0
time_to_exam2_sd           0.0
weekday_sd                 0.0
part_of_day_sd             1.0
weeknumber_sd              0.0
numberOfEvents             0.0

In [77]:
# for depth in [1,2,3,4,5,6,7,8,9]:    
# 	decision_tree = tree.DecisionTreeClassifier(max_depth=depth)
# 	cross_val = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
# 	acc_each_split = cross_val_score(decision_tree, X_train_tut, y_train_tut, cv=cross_val, scoring='accuracy')
# 	decision_tree.fit(X_train_tut, y_train_tut)
# 	print("tree with depth= {} and {} nodes has accuracy {}".format(depth, decision_tree.tree_.node_count,acc_each_split.mean()))

In [78]:
decision_tree = tree.DecisionTreeClassifier(max_depth=6)
decision_tree.fit(X_train_tut, y_train_tut)
evaluate(decision_tree, X_test_tut, y_test_tut)

      Prediction
       0.0   1.0
  0.0    0     1
  1.0    0     4

0.8
             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00         1
        1.0       0.80      1.00      0.89         4

avg / total       0.64      0.80      0.71         5

C:\Users\laris\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [79]:
importance =  decision_tree.feature_importances_
importance = pd.DataFrame(importance, index=X_train_tut.columns, 
                          columns=["Importance"])
importance

                    Importance
student_id_mean           0.00
time_diff_mean            0.00
time_to_exam1_mean        0.00
time_to_exam2_mean        0.00
weekday_mean              0.55
part_of_day_mean          0.45
weeknumber_mean           0.00
time_diff_sd              0.00
time_to_exam1_sd          0.00
time_to_exam2_sd          0.00
weekday_sd                0.00
part_of_day_sd            0.00
weeknumber_sd             0.00
numberOfEvents            0.00